!!! 5
html
    head
        title rtp_imgQuery Tests

        link(rel='stylesheet', href='qunit/qunit.css')

        script(type='text/javascript')
            var imgQry = {};
            imgQry.images = {};
            imgQry.ratios = {};
            imgQry.breakpoints = {};

    body
        block qunit
            div#qunit
            div#qunit-fixture
            script(src='qunit/qunit.js', type='text/javascript')

        block test


